body{
    overflow-x: hidden;
    background-color: #f8f9fa;
}

.radiobuttons
{
  height: 5em;
  width: 100%;
}

.radiobutton
{
  width: 100%;
  height: 40%;
  padding-left: 3.5%;
}

.form-group label
{
  width: 100%;
}

.navbar-brand img
{
    max-width: 250px;
}

.yeet 
{
    display: none;
}

.red
{
    color: red;
}

.background 
{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1604px;
    width: 1200px;
}

.fixforparticlesjs
{
    z-index: 10;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: grey;

    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: grey;
}
