body{
    overflow-x: hidden;
}

.radiobuttons
{
  height: 5em;
  width: 100%;
}

.radiobutton
{
  width: 100%;
  height: 40%;
  padding-left: 3.5%;
}

.form-group label
{
  width: 100%;
}

.navbar-brand img
{
    max-width: 250px;
}

.yeet 
{
    display: none;
}

.fixforparticlesjs
{
    z-index: 10;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0
}