<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Excel tool </title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"> </script>

</head>

<!-- TODO: het templating systeem laten werken met de 'extend' functie, om deze header automatisch gelijk te houden vanuit een base template 
Also even de layour fixen, er zitten nu blank spaces op de page
-->

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #2A3964;">
            <a class="navbar-brand" href="">Excel multi tool dingetje </a>
            <div class="navbar-login ml-auto mr-4">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#loginModal">
                    Please login/register here! </button>
            </div>
        </nav>
    </header>
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="nav-item active"><a class="nav-link active" href="#tab1" data-toggle="tab">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Login</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="content-section">
                                    <form method="POST" action="">
                                        {{ form.hidden_tag() }}
                                        <fieldset class="form-group">
                                            <div class="form-group">
                                                {{ form.username.label(class="form-control-label") }}

                                                {% if form.username.errors %}
                                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.username.errors %}
                                                    <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                {{ form.username(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{ form.email.label(class="form-control-label") }}
                                                {% if form.email.errors %}
                                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.email.errors %}
                                                    <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                {{ form.email(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{ form.password.label(class="form-control-label") }}
                                                {% if form.password.errors %}
                                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.password.errors %}
                                                    <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                {{ form.password(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{ form.confirm_password.label(class="form-control-label") }}
                                                {% if form.confirm_password.errors %}
                                                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.confirm_password.errors %}
                                                    <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                {{ form.confirm_password(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                        </fieldset>
                                        <div class="form-group">
                                            {{ form.submit(class="btn btn-outline-info") }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="content-section">
                                    <form method="POST" action="">
                                        {{ form.hidden_tag() }}
                                        <fieldset class="form-group">
                                            <div class="form-group">
                                                {{ form.email.label(class="form-control-label") }}
                                                {% if form.email.errors %}
                                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.email.errors %}
                                                    <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                {{ form.email(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{ form.password.label(class="form-control-label") }}
                                                {% if form.password.errors %}
                                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.password.errors %}
                                                    <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                {{ form.password(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                            <div class="form-check">
                                            <!-- TODO: Dit even terugplaatsen van routes.py
                                            -->
                                            </div>
                                        </fieldset>
                                        <div class="form-group">
                                            {{ form.submit(class="btn btn-outline-info") }}
                                        </div>
                                        <small class="text-muted ml-2">
                                            <a href="#">Forgot Password?</a>
                                        </small>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 bg-light pt-5 no-padding">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 bg-light pt-5 no-padding">
                <p> Currently only .xlsx files are supported </p>
                <form class="form-horizontal" method="POST" role="form" enctype="multipart/form-data" action="/upload">
                    <input type="file" name="uploadedfiles" multiple="" class="btn btn-link">
                    <input type="submit" class="btn btn-primary" value="Upload">
                </form>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 bg-light pt-5 no-padding">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 bg-light pt-5 no-padding">
                <!-- Voor de time message -->
                {% with time = get_flashed_messages(category_filter=["time"]) %}
                {% if time %}
                <div class="alert-message block-message time">
                    {%- for msg in time %}
                    <p> The program took: {{ msg }} seconds to complete this request</p>
                    {% endfor -%}
                </div>
                {% endif %}
                {% endwith %}

                <!-- Voor de register message -->
                {% with succes = get_flashed_messages(category_filter=["succes"]) %}
                {% if succes %}
                <div class="alert-message block-message loops">
                    {%- for msg in succes %}
                    <p> The program went through {{ msg }} iterations </p>
                    {% endfor -%}
                    {% endif %}
                    {% endwith %}
                </div>



                {% with loops = get_flashed_messages(category_filter=["loops"]) %}
                {% if loops %}
                <div class="alert-message block-message loops">
                    {%- for msg in loops %}
                    <p> The program went through {{ msg }} iterations </p>
                    {% endfor -%}
                </div>
                {% endif %}
                {% endwith %}

                <!-- Voor de invalid file messages-->
                {% with fileerror = get_flashed_messages(category_filter=["fileerror"]) %}
                {% if fileerror %}
                <div class="alert-message block-message error">
                    {%- for msg in fileerror %}
                    <p> Please upload an .xlsx file, other Excel filetypes like .cvs are not currently supported </p>
                    {% endfor -%}
                </div>
                {% endif %}
                {% endwith %}

                <!-- Voor de invalid file messages-->
                {% with error = get_flashed_messages(category_filter=["error"]) %}
                <div class="alert-message block-message error">
                    {%- for msg in error %}
                    <p> Something went wrong, please contact the administrator. Be sure to copy this error: {{ msg }}
                    </p>
                    {% endfor -%}
                </div>
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 bg-light pt-5">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 bg-light pt-5">
                <form class="form-horizontal" method="POST" role="form" enctype="multipart/form-data"
                    action="/feedback">
                    <div class="form-group">
                        <label for="naamForm"> Name </label>
                        <input type="text" name="username" id="naamForm" class="form-control mb-4">
                        <label for="textForm"> Your message </label>
                        <textarea class="form-control mb-4" id="textForm" name="content" rows="3"></textarea>
                        <input type="submit" class="btn btn-primary" value="Upload">
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 bg-light pt-5">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 bg-light pt-5">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 bg-light pt-5">
                <!--
            {% if posts %}
                <h2> Feedback corner </h2>
                {% for username in posts %}
                    <p> User: {{username[1]}} </p>
                    <p> Says: </p>
                    <p> {{username[2]}} </p>
                    <br>
                {% endfor %}
            {% endif %}
            -->
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 bg-light pt-5">
            </div>
        </div>
    </div>
</body>

</html>